<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.waterbottle">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".admin_agent_side.admin_view_agent_detail"></activity>
        <activity
            android:name=".agent_view_client_details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_agent_side.admin_view_product"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_agent_side.Admin_view_all_client"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_agent_side.admin_dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_agent_side.agent_add_bottle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_agent_side.agent_barcode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_agent_side.agent_login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_agent_side.order_delivered"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_agent_side.admin_view_order"
            android:screenOrientation="portrait" />
    </application>

</manifest>